[submodule "externals/makemore"]
	path = externals/makemore
	url = https://github.com/karpathy/makemore.git
[submodule "externals/micrograd"]
	path = externals/micrograd
	url = https://github.com/karpathy/micrograd
[submodule "externals/nn_zero_to_hero"]
	path = externals/nn_zero_to_hero
	url = https://github.com/karpathy/nn-zero-to-hero.git
[submodule "externals/minGPT"]
	path = externals/mingpt
	url = https://github.com/karpathy/minGPT.git
[submodule "externals/nanogpt"]
	path = externals/nanogpt
	url = https://github.com/karpathy/nanoGPT.git
