# NOTE: Using CUDA 12.1 due to same issue as:
#   https://github.com/pytorch/pytorch/issues/134929#issuecomment-2429992580

# Micrograd
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.4.1+cu121
numpy
matplotlib
graphviz
pytest

# Additional from Makemore
tensorboard

# Additional from nanoGPT
transformers
datasets
tiktoken
wandb
tqdm

# Additional for python formatting / notebooks
black
pyright
ipykernel